.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-full {
    height: 100%;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
