// light mode colors
$color-primary: #0079FF;
$color-lynch: #697C9A;
$color-kashmir-blue: #4B6A9B;
$color-ebony-clay: #2B3442;
$color-zircon: #F6F8FF;
$color-cloud-burst: #1E2A47;
$color-white: #FEFEFE;